@import "tailwindcss";
@import "tailwindcss/theme";

/* Dark theme to prevent white flash */
:root {
  --color-bg: #1a1b26;
  --color-card: #24283b;
  --color-text: #c0caf5;
  --color-primary: #7aa2f7;
  --color-primary-hover: #1f6feb;
  --color-border: #3b4261;
}

/* Apply global font and background */
body {
  font-family: "JetBrains Mono", monospace;
  @apply bg-[var(--color-bg)] text-[var(--color-text)] transition-colors duration-300;
}

/* Smooth transitions for UI elements */
button,
input {
  @apply transition-all duration-200 ease-in-out;
}

input,
select {
  @apply w-full p-4 rounded-md border border-[var(--color-primary-hover)] bg-[var(--color-card)] text-[var(--color-text)] outline-none focus:ring-2 focus:ring-[var(--color-primary)];
}
